<ion-menu side="end" content-id="content">
  <ion-header>
<ion-toolbar>
  <ion-title>Menu</ion-title>
</ion-toolbar>
  </ion-header>
  <ion-content>
   <ion-list>
    <ion-item (click)="removeAll()" [disabled]="shoppingList.isEmpty">
      <ion-icon slot="start" name="trash-outline"></ion-icon>
      <ion-label>Eliminar todos os items</ion-label>
    </ion-item>
   </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Minha lista de Compra
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="content">
  <ion-item class="ion-text-center" lines="none" *ngIf="shoppingList.isEmpty">
    <ion-label>
      Não existe items na sua lista 
    </ion-label>
  </ion-item>

<ion-list *ngIf="!shoppingList.isEmpty" >
  <ion-reorder-group [disabled]="false" (ionItemReorder)="onRenderItems($event)">
    <ion-item-sliding *ngFor="let item of shoppingList.items">
      <ion-item >
        <ion-label>{{item}}</ion-label>
        <ion-reorder></ion-reorder>
      </ion-item>
      <ion-item-options side="end">
  <ion-item-option color="danger" (click)="removeItem(item)">
    <ion-icon  slot="icon-only"  name="trash-outline"></ion-icon>
  </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-reorder-group>
</ion-list>
</ion-content>
